/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    --main-red: rgb(187, 0, 0);
    --light-font: rgb(204, 204, 204);
    --background-color: rgb(231, 231, 231);
}

body {
    line-height: 1.2;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: var(--background-color);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    width: auto;
    height: auto;
    line-height: 2;
    font-size: 0.8rem;
    letter-spacing: 2;
    font-weight: 400;
}

a:hover {
    border-bottom: 3px solid var(--main-red);
    color: rgb(255, 255, 255);
    margin-bottom: -3px;
    transition: all 0.2s ease;
}

.header-span {
    display: block;
    width: 10%;
    height: 3px;
    margin: 10px auto;
    background-color: var(--main-red);
}

.noscroll {
    overflow: hidden;
}

.container {
    min-height: 100vh;
    min-width: 100%;
    margin: auto;
}

/* Global End */
/* < --------- > */

/* Header and Nav */

.full-screen-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0.5rem;
    height: 12vh;
    background: transparent;
    color: var(--light-font);
    text-transform: uppercase;
    transition: all 0.5s ease;
    z-index: 100;
}

/*Shrink nav on scroll classes*/
.header-down-action {
    background: rgba(0, 0, 0, 0.95);
    height: 9vh;
}

.whakaari-down-action {
    font-size: 1.35rem;
}

.rotorua-down-action {
    font-size: 0.82rem;
}

/* Logo */
.logo {
    flex: 1 1 33%;
    font-family: "Poiret One", arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoBtn {
    text-align: center;
    line-height: 1;
    cursor: pointer;
}

.logo h1,
.logo h3 {
    overflow: hidden;
    transition: all 0.5s ease;
    font-weight: 400;
}

.logo-span {
    display: block;
    width: 50%;
    height: 3px;
    background-color: var(--main-red);
    margin: auto auto 3px auto;
    transition: all 0.5s ease;
}

.span-down-action {
    height: 2px;
}

.navbar {
    flex: 1 1 33%;
    height: 100%;
    max-width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.navbar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    width: 6rem;
    height: 100%;
    text-align: center;
}

.navbar ul li a {
    font-size: 0.9rem;
}

.languages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 33%;
    height: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
}

.languages-container {
    width: 6rem;
    cursor: pointer;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

.languages-container:hover {
    background-color: rgba(61, 61, 61, 0.5);
}

.langActive {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9rem;
    margin: auto;
}

.langActive img {
    width: 30%;
    height: 30%;
}

.drop-down {
    position: relative;
}

.drop-down-content {
    display: none;
    position: absolute;
    right: 0.01rem;
    top: 1.8rem;
    width: 6rem;
    height: auto;
    z-index: 20;
    background-color: rgba(61, 61, 61, 0.5);
    border-radius: 0 0 3px 3px;
}

.drop-down-content ul {
    width: 100%;
    height: 100%;
}

.drop-down-content img {
    width: 30%;
    height: 30%;
}

.langList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 0.2rem 0 0.2rem 0;
    cursor: pointer;
}

.langList:hover {
    background-color: rgba(61, 61, 61, 0.9);
}
/* Mobile Nav */

.mobile-nav {
    display: flex;
    visibility: hidden;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 100;
}

.mobile-menu {
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--main-red);
    outline: none;
    border: none;
    z-index: 200;
}

.fa-bars {
    color: var(--light-font);
    font-size: 1.5rem;
}

.mobile-nav-overlay-hidden {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: translate(100%, 45%);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.is-visible {
    transform: translate(0%, 45%);
}

.mobile-nav-options {
    font-size: 3rem;
    text-align: center;
}

.mobile-nav-options li {
    margin: 2rem;
}

.mobile-nav-options li a {
    color: var(--light-font);
    font-weight: 300;
    font-size: 3rem;
}

.mobile-logo {
    font-family: "Poiret One", arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    color: var(--light-font);
    width: 2rem;
    height: 10vh;
    visibility: hidden;
}

.mobile-logoBtn {
    margin: 1rem;
    text-align: center;
    line-height: 1;
}

.mobile-logo h1,
.mobile-logo h3 {
    font-weight: 400;
}

.mobile-logo h1 {
    font-size: 1.5rem;
}

.mobile-logo h3 {
    font-size: 0.87rem;
}

.mobile-logo-span {
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--main-red);
    margin: auto auto 2px auto;
}

/* End of Header and Nav */

/* Landing area */

#home {
    background: url("./img/background1.png") no-repeat center center fixed;
    background-size: cover;
    transition: background 3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-font);
}

.welcome-logo {
    align-self: flex-start;
    margin-left: 8rem;
    margin-top: auto;
    margin-bottom: -2rem;
}

.welcome h1 {
    font-size: 5rem;
    line-height: 1.5;
}

.welcome p {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.welcome-logo button {
    background: var(--main-red);
    width: 12rem;
    height: 3rem;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--light-font);
    border-radius: 3px;
    letter-spacing: 1.2;
    border: 1px rgba(61, 61, 61, 0.1) solid;
    transition: all 0.3s ease;
    cursor: pointer;
}

.welcome-logo button:hover {
    background: rgba(61, 61, 61, 0.3);
    border: 2px solid var(--main-red);
    transition: all 0.3s ease;
}

#scroll-down {
    width: 4rem;
    font-size: 2rem;
    text-align: center;
    justify-self: flex-end;
    margin-top: auto;
    cursor: pointer;
}

/* About section */

#about {
    text-align: center;
}

.about-wrapper {
    max-width: 80%;
    padding: 6% 0 6% 0;
    margin: auto;
}

.about-wrapper h2 {
    font-size: 3rem;
}

.about-wrapper h3 {
    font-size: 1.3rem;
    padding-top: 1.2rem;
    font-weight: 400;
}

.about-wrapper p {
    margin: auto;
    padding: 10px 0 10px 0;
    font-size: 1rem;
    line-height: 1.4;
}

.about-wrapper a {
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.about-wrapper a:hover {
    border-bottom: 3px solid var(--main-red);
    color: inherit;
}

/* About Image slider */

.main-carousel {
    width: 100%;
    min-height: 50vh;
    margin: auto;
}

.carousel-cell {
    width: 66%;
    min-height: 50%;
    margin: auto;
    border-radius: 5px;
}

.carousel-cell img {
    height: 100%;
    width: 85%;
    margin: auto;
}

/* position dots in carousel */
.flickity-page-dots {
    bottom: 5px;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: white;
  }
/* Tour section */

.tour-wrapper {
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding: 6% 0 6% 0;
}

/* Tour header */

.tour-header {
    /* min-width: 100%; */
    padding: 2% 0 6% 0;
}

.tour-header h2 {
    font-size: 3rem;
}

/* Upcoming tour and dates */

.tour-dates {
    width: 100%;
    margin: auto;
    height: auto;
}

.tour-item:last-of-type {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.tour-item {
    margin: auto;
    width: 90%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    border-top: 1px solid rgb(0, 0, 0);
}

.date-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 33%;
}

.day-month {
    margin-left: 3px;
}

.day-month h3:first-child {
    color: var(--main-red);
    text-align: left;
}

.date h2 {
    font-size: 3rem;
}

.venue {
    height: 100%;
    text-align: center;
    flex: 1 1 33%;
}

.city {
    height: 100%;
    flex: 1 1 33%;
    text-align: end;
}

.city h2 {
    font-weight: 400;
    font-size: 1.2rem;
}

/* Video break section */

#videoBreak {
    width: 100%;
    height: auto;
    margin: auto;
    background-image: linear-gradient(
            127deg,
            rgba(0, 0, 0, 0.8) 100%,
            rgba(0, 0, 0, 0.8) 100%
        ),
        url("./img/video-background.jpg");

    background-size: cover;
}

.video-break-container {
    width: 80%;
    height: 90%;
    margin: auto;
}

.videos {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.videos iframe,
.videos object,
.videos embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Contact section */

.contact-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 6% 0 6% 0;
}

.contact-header {
    font-size: 3rem;
}

.contact-text {
    padding: 1.2rem;
    font-size: 1rem;
    line-height: 1.4;
}

.social-icons {
    padding-bottom: 1rem;
}

.social-icons a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    width: auto;
    height: auto;
    line-height: 1;
    font-size: 2rem;
    letter-spacing: 1;
    font-weight: 800;
    padding: 0 1rem 0 1rem;
}

.social-icons a:hover {
    border-bottom: none;
    color: inherit;
    margin-bottom: none;
}

/* Contact form and facebook plugin */

.contact-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    margin: auto;
    background-color: rgb(201, 201, 201);
}

.form-container {
    flex: 1;
    height: 100%;
    padding-top: 2rem;
}

.form {
    height: 100%;
    width: 80%;
    text-align: left;
    margin: auto;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control i {
    position: absolute;
    top: 38px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.success input, .form-control.success textarea {
    border: 2px solid #2ecc71;    
}

.form-control.error input, .form-control.error textarea {
    border: 2px solid #eb2929; 
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #eb2929;
}

.form-control.error small {
    visibility: visible;
    color: #eb2929;
}

.form label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.form input,
.form textarea {
    width: 100%;
    height: 40px;    
    font-size: 1.1rem;
    border-radius: 3px;
    outline: none;
    font-family: "Lato", sans-serif;
    padding: 5px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border: 1px solid #dfe1e5;
}

.form input:hover,
.form textarea:hover,
.form input:focus,
.form textarea:focus {
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.form textarea {
    height: 120px;
}

.form .form-submit {
    width: 50%;
    margin-bottom: 15px;
    background: var(--main-red);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 2px rgba(61, 61, 61, 0.1) solid;
    cursor: pointer;
}

.form-submit:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.507);
}

.form-submit:active {
    transform: translateY(2px);
}

.facebook-area {
    flex: 1;
    height: 100%;
    width: auto;
    padding-top: 1rem;
}

/* Footer */

footer {
    background: rgb(0, 0, 0);
}

.footer-container {
    min-width: 100%;
    height: 25vh;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(204, 204, 204, 0.9);
}

.footer-item {
    flex: 1 1 auto;
    background-color: #000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social a {
    display: inline-block;
    text-decoration: none;
    width: auto;
    height: auto;
    line-height: 1;
    font-size: 2rem;
    letter-spacing: 1;
    font-weight: 800;
    padding: 0 1rem 0 1rem;
}

.footer-social a:hover {
    border-bottom: none;
    color: rgba(231, 231, 231);
    transform: none;
    margin-bottom: 0px;
}

.footer-nav {
    justify-content: space-around;
    line-height: 2;
    color: rgba(204, 204, 204, 0.9);
    text-transform: uppercase;
}

.footer-nav a {
    color: rgba(204, 204, 204, 0.9);
    font-size: 0.9rem;
    margin: 0 1rem -3px 1rem;
}

.footer-nav a:hover {
    border-bottom: none;
    color: rgba(204, 204, 204, 0.9);
    margin-bottom: -3px;
    transform: none;
}

.footer-sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(204, 204, 204, 0.9);
    text-transform: uppercase;
    font-size: 10px;
}

.footer-sponsor img {
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.footer-sponsor a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 50%;
    height: 50%;
    line-height: 1;
    font-size: inherit;
    letter-spacing: auto;
    font-weight: auto;
    margin-bottom: 3px;
}

.footer-sponsor a:hover {
    border-bottom: none;
    color: auto;
    margin-bottom: none;
}

.copyright {
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgba(204, 204, 204, 0.719);
    margin-top: -10px;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    #home {
        min-height: 100vh;
    }
    .container {
        min-height: 50vh;
    }
    .full-screen-nav {
        display: none;
    }
    .mobile-logo {
        visibility: visible;
    }
    .mobile-nav {
        visibility: visible;
    }
    .welcome-logo {
        align-self: normal;
        margin: auto;
        margin-bottom: -2rem;
        text-align: center;
    }
    .welcome h1 {
        font-size: 5rem;
        line-height: 1.5;
    }
    .welcome p {
        font-size: 1.7rem;
        letter-spacing: 0.1rem;
        margin-bottom: 2rem;
        font-weight: 400;
    }
    .welcome-logo button {
        background: var(--main-red);
    }

    .logo {
        color: white;
        font-size: 1.5rem;
    }
    .about-info {
        max-width: 100%;
        padding: 6% 1rem 6% 1rem;
    }
    .main-carousel {
        min-height: 20vh;
    }
    .carousel-cell {
        width: 100%;
        min-height: 50%;
        margin: auto;
        border-radius: 5px;
    }
    .carousel-cell img {
        height: 100%;
        width: 100%;
        margin: auto;
    }
    .video-break-container {
        width: auto;
        height: auto;
        margin: auto;
    }
    .contact-text {
        padding: 1.2rem 0 1.2rem 0;
        font-size: 1rem;
        line-height: 1.4;
        min-width: 100%;
        margin: auto;
    }
    .contact-area {
        display: flex;
        flex-direction: column;
        min-height: 55%;
        width: 100%;
    }

    .form-container{
        width: 100%;
    }

    .form {
        margin: none;
        padding: none;
    }

    .form label {
        display: none;
    }
    .facebook-area {
        display: none;
    }
    .footer-container {
        flex-direction: column;
    }
    /* .footer-item{
        margin: 1rem;
    } */
}
/* 
.contact-form form input:valid,
.contact-form form textarea:valid {
    border: 1px solid rgb(48, 199, 21);
    border-color: rgb(48, 199, 21);
    box-shadow: 0 1px 6px 0 rgb(48, 199, 21);
} */
